<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<hr>
<p>excel output</p>
<%= link_to "Excel出力", posts_path(@posts, format: :xlsx) %>
<hr>
<div id="posts">
  <%= render @posts %>
</div>

<%= link_to "New post", new_post_path %>
